<ion-header>
  <ion-toolbar>
    <ion-title>Tesla</ion-title>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-subtitle>$TSLA</ion-card-subtitle>
      <ion-card-title>Tesla</ion-card-title>
      <ion-item color="secondary">${{price}}</ion-item>
    </ion-card-header>
    
    <ion-card-content>

    </ion-card-content>
  </ion-card>

  <!--I added a green buy and a red sell button to manipulate 
  teslaShares variable from the ts page by invoking their respective
  functions.-->
  <ion-button color="success" (click)=buyTShares()>
    Buy
  </ion-button>
  <ion-button color ="danger" (click)=sellTShares()>
    Sell
  </ion-button>
  <br>
  <!--Databinding-->
  <h3>Shares: {{teslaShares}}</h3>

</ion-content>

